{% extends "components/layout.html" %}

{% block content %}
        this is the api

        <ul>
        {% for link in links %}
            <li>{{ link[1].endpoint }}</li>
        {% endfor %}
        </ul>

{% endblock %}