{% extends "components/layout.html" %}

{% macro host_item(name, value='') -%}
        <div class="row">
            <div class="col-md-3">{{ name }}</div>
            <div class="col-md-9">{{ value|capitalize }}</div>
        </div>
{%- endmacro %}

{% macro host_header(name, value='') -%}
        <div class="row">
            <div class="col-md-3">{{ name }}</div>
            <div class="col-md-9">{{ value|upper }}</div>
        </div>
{%- endmacro %}

{% macro host_controls(id) -%}
    <ul class="nav nav-pills">
        <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-wrench"></span> Control <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                    <li><a href="/subscriptions/{{id}}">Subscriptions</a></li>
                    <li><a href="/hosts/{{id}}/pause">Pause/Resume</a></li>
                    <li class="divider"></li>
                    <li><a href="/hosts/{{id}}/log">Logs</a></li>
              </ul>
        </li>
    </ul>
{%- endmacro %}

{% block content %}
        <h3>Known Hosts:</h3>

        {% for each_host in data.hosts %}

            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="panel-title">{{ host_header('Hostname', each_host) }}</h3>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            {{ host_item('Status', 'Online') }}
                            {{ host_item('Location', each_host.site) }}
                            {{ host_item('File Count', '10,000') }}
                            {{ host_item('Free Disk Space', '10%') }}
                        </div>
                        <div class="col-md-2">
                            {{ host_controls('localhost') }}
                        </div>
                    </div>
                </div>

            </div>

        {% endfor %}


{% endblock %}