{% extends "components/layout.html" %}

{% macro playlist(name, link='#') -%}
    {% set colors = ['default', 'success', 'info', 'warning', 'danger'] %}
    <a href="{{link}}"><span class="btn btn-{{ colors|random }} btn-xs">{{name}}</span></a>
{%- endmacro %}

{% macro build_session_table(data) -%}
    {% for session in data %}
        <tr>
            <td>{{ session.name }}</td>
            <td>{{ session.user }}</td>
            <td>{{ session.date }}</td>
            <td>
                {% for pl_ in session.playlists %}
                    {% set route = url_for('playlist_detail', sid=session.id, pid=pl_.id) %}
                    {% set args  = {'sname':session.name, 'pl':pl_.name}|urlencode  %}
                    {% set link = "%s?%s"|format(route, args) %}
                    {{ playlist(pl_.name, link) }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
{%- endmacro %}


{% block content %}
	<script type="text/javascript" language="javascript" src="static/js/jquery.dataTables.js"></script>

    <!--INFINITE SCROLL JS-->
    <script>
        $(document).ready(function() {
            $('#session-list').dataTable( {
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "sScrollY": "200px",
                "bFilter": false,
            } );
        } );
    </script>

    <h3>Sessions</h3>

    <!--SEARCH BOX-->
    <div class="row">
        <div class="col-md-12">
            <div class="left-inner-addon ">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control"  style="margin-bottom: 20px;"/>
            </div>
        </div>
    </div>

    <!--RESULTS TABLE-->
    <div class="row">
        <div class="col-md-12">
            <table id="session-list" class="table table-hover table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Updated By</th>
                        <th>Date</th>
                        <th>Playlists</th>
                    </tr>
                </thead>
                <tbody>
                    {{ build_session_table(data) }}
                </tbody>
            </table>
        </div>
    </div>




{% endblock %}