<!DOCTYPE html>
<html>
<head>
    <title>ISD Control Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

</head>
<body>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <div class="container"> <!--- page container -->

      <div>
        <h1>ISD Control Center</h1>
      </div>

      {% include 'components/navigation.html' %}
      {% block content %}{% endblock %}
    </div>
</body>
</html>