<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 60px">
<!-- Brand and toggle get grouped for better mobile display -->

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('hosts') }}">Hosts</a></li>
      <li><a href="{{ url_for('sessions') }}">Sessions</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('settings') }}"><span class="glyphicon glyphicon-cog"></span></a></li>
    </ul>
  </div>

  <script>
    $(document).ready(function () {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
  </script>

</nav>
